<mat-sidenav-container class='uni-sidenav-container'>
  <mat-sidenav #sidenav [mode]="(isMobile | async) ? 'over' : 'side'" [fixedInViewport]='true' fixedTopGap='48'
               [(opened)]='opened'>
    <button mat-raised-button (click)='sidenav.toggle()' class='mt-1'>
      < Close menu
    </button>

    <mat-nav-list>
      @for (item of list; track item.link) {
        <a mat-list-item [routerLink]='item.link' [routerLinkActive]='"active"'>{{ item.name }}</a>
      }

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button [hidden]='opened' mat-mini-fab [color]='"primary"' (click)='sidenav.toggle()'>
      <mat-icon>menu</mat-icon>
    </button>

    <div class='container'>
      <div class='row py-2'>
        <div class='col-sm-1'></div>

        <div class='col-sm-10'>
          <router-outlet></router-outlet>
        </div>

        <div class='col-sm-1'></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

