<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-default class='d-block w-250'></app-static-number-default>

    <app-code
      [templateUrl]='"assets/files/static/number/default.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-disabled class='d-block w-250'></app-static-number-disabled>

    <app-code
      [templateUrl]='"assets/files/static/number/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/disabled.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-required class='d-block w-250'></app-static-number-required>

    <app-code
      [templateUrl]='"assets/files/static/number/required.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/required.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-placeholder class='d-block w-300'></app-static-number-placeholder>

    <app-code
      [templateUrl]='"assets/files/static/number/placeholder.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/placeholder.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-value class='d-block w-250'></app-static-number-value>

    <app-code
      [templateUrl]='"assets/files/static/number/value.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/value.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With min / max</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-min-max class='d-block w-300'></app-static-number-min-max>

    <app-code
      [templateUrl]='"assets/files/static/number/min-max.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/min-max.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom step</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-step class='d-block w-300'></app-static-number-step>

    <app-code
      [templateUrl]='"assets/files/static/number/step.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/step.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-hint class='d-block w-300'></app-static-number-hint>

    <app-code
      [templateUrl]='"assets/files/static/number/hint.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/hint.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error messages</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-number-validation class='d-block w-500'></app-static-number-validation>

    <app-code
      [templateUrl]='"assets/files/static/number/validation.txt"'
      [jsonUrls]='["assets/mocks/static/number/default.json", "assets/mocks/static/number/validation.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
