<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/text/hint.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/default.json'"
    [key]='"set"'
    [label]='"Set text field custom hint message"'
    [hint]='"Set hint message"'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/hint.json'"
    [key]='"change"'
    [label]='"Change text field hint message"'
    [hint]='"Changed hint message"'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [type]='"text"'
    [key]='"create"'
    [label]='"Create text field with hint message"'
    [hint]='"Create hint message"'
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

