<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/number/hint.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/number/default.json'"
    [options]="{key: 'set', label: 'Set number field hint message', hint: 'Set hint message'}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/number/hint.json'"
    [options]="{key: 'change', label: 'Change number field hint message', hint: 'Changed hint message'}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'number', key: 'create', label: 'Create number field with hint message', hint: 'Create hint message'}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>
      SUBMIT
    </button>
  </mat-action-row>
</uni-form-ng>

