<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-radio-default></app-dynamic-radio-default>

    <app-code
      [templateUrl]='"assets/files/dynamic/radio/default.txt"'
      [jsonUrls]='["assets/mocks/dynamic/radio.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default values</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-radio-value></app-dynamic-radio-value>

    <app-code
      [templateUrl]='"assets/files/dynamic/radio/value.txt"'
      [jsonUrls]='["assets/mocks/dynamic/radio.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Remove nested fields on change</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-radio-clean></app-dynamic-radio-clean>

    <app-code
      [templateUrl]='"assets/files/dynamic/radio/clean.txt"'
      [jsonUrls]='["assets/mocks/dynamic/radio.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
