<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/radio/required.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/radio/default.json'"
    [options]="{key: 'set', label: 'Set required radio button:*', required: true}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/radio/required.json'"
    [options]="{key: 'change', label: 'Changed required radio button', required: false}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'radio', key: 'create', label: 'Create required radio button:*', required: true, options: [
    {label: 'One', value: 1}, {label: 'Two', value: 2}
    ]}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

