<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/text/required.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/default.json'"
    [key]='"set"'
    [label]='"Set required text field"'
    [required]='true'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/required.json'"
    [key]='"change"'
    [label]='"Changed required text field"'
    [required]='false'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [type]='"text"'
    [key]='"create"'
    [label]='"Create required text field"'
    [required]='true'
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

