<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/text/value.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/default.json'"
    [key]='"set"'
    [label]='"Text field with default value"'
    [value]='{set: "Set default value"}'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/value.json'"
    [key]='"change"'
    [value]='{change: "Changed default value"}'
  ></uni-form-field-ng>

  <uni-form-field-ng
    [type]='"text"'
    [key]='"create"'
    [label]='"Text field with default value"'
    [value]='{create: "Create default value"}'
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

