<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/text/value.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/default.json'"
    [options]="{key: 'set', label: 'Set text field value', value: 'Set value'}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/value.json'"
    [options]="{key: 'change', label: 'Changed text field value', value: 'Change value'}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'text', key: 'create', label: 'Create text field with value', value: 'Create value'}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

