<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/select/multi.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/select/default.json'"
    [options]="{key: 'set', label: 'Set multi select field', multi: true}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/select/multi.json'"
    [options]="{key: 'change', label: 'Changed multi select field', multi: false}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'select', key: 'create', label: 'Create multi select field', multi: true, options: [{label: 'One', value: 1}, {label: 'Two', value: 2}]}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>
      SUBMIT
    </button>
  </mat-action-row>
</uni-form-ng>

