<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-default></app-static-textarea-default>

    <app-code
      [templateUrl]='"assets/files/static/textarea/default.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/default.json", "assets/mocks/static/textarea/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-disabled></app-static-textarea-disabled>

    <app-code
      [templateUrl]='"assets/files/static/textarea/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/disabled.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-required></app-static-textarea-required>

    <app-code
      [templateUrl]='"assets/files/static/textarea/required.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/required.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-placeholder></app-static-textarea-placeholder>

    <app-code
      [templateUrl]='"assets/files/static/textarea/placeholder.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/placeholder.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-value></app-static-textarea-value>

    <app-code
      [templateUrl]='"assets/files/static/textarea/value.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/value.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With minimum and maximum length</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-min-max></app-static-textarea-min-max>

    <app-code
      [templateUrl]='"assets/files/static/textarea/min-max.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/min-max.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-hint></app-static-textarea-hint>

    <app-code
      [templateUrl]='"assets/files/static/textarea/hint.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/hint.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error messages</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-validation></app-static-textarea-validation>

    <app-code
      [templateUrl]='"assets/files/static/textarea/validation.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/validation.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With pattern (regex) validation</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-pattern></app-static-textarea-pattern>

    <app-code
      [templateUrl]='"assets/files/static/textarea/pattern.txt"'
      [jsonUrls]='["assets/mocks/static/textarea/pattern.json", "assets/mocks/static/textarea/default.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
