<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-default></app-static-textarea-default>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-disabled></app-static-textarea-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-required></app-static-textarea-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-placeholder></app-static-textarea-placeholder>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-value></app-static-textarea-value>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With minimum and maximum length</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-min-max></app-static-textarea-min-max>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-hint></app-static-textarea-hint>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error messages</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-validation></app-static-textarea-validation>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With pattern (regex) validation</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-textarea-pattern></app-static-textarea-pattern>
  </mat-expansion-panel>
</mat-accordion>
