<mat-stepper [selectedIndex]='1' [orientation]='"vertical"' #stepper>
  <mat-step label='Input text' [completed]='false'>
   <app-static-text class='d-block mt-1 w-500'></app-static-text>
  </mat-step>

  <mat-step label='Input number' [completed]='false'>
    <app-static-number class='d-block mt-1 w-500'></app-static-number>
  </mat-step>

  <mat-step label='Textarea' [completed]='false'>
  </mat-step>

  <mat-step label='Select' [completed]='false'>
  </mat-step>

  <mat-step label='Autocomplete' [completed]='false'>
  </mat-step>

  <mat-step label='Datepicker' [completed]='false'>
  </mat-step>

  <mat-step label='Checkbox' [completed]='false'>
  </mat-step>

  <mat-step label='Radio button' [completed]='false'>
  </mat-step>

  <mat-step label='Switch' [completed]='false'>
  </mat-step>
</mat-stepper>
