.uni-sidenav-container {
  /* Don't constrain the height of the sidenav container.
   This allows the `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.uni-sidenav-content {
  margin-top: 50px;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}
