<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-default class='d-block w-300'></app-static-autocomplete-default>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-disabled class='d-block w-300'></app-static-autocomplete-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-required class='d-block w-300'></app-static-autocomplete-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With groups</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-groups class='d-block w-250'></app-static-autocomplete-groups>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With multiselect</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-multi class='d-block w-300'></app-static-autocomplete-multi>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With disabled option</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-option class='d-block w-300'></app-static-autocomplete-option>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-value class='d-block w-250'></app-static-autocomplete-value>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-placeholder class='d-block w-500'></app-static-autocomplete-placeholder>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-hint class='d-block w-300'></app-static-autocomplete-hint>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-autocomplete-validation class='d-block w-500'></app-static-autocomplete-validation>
  </mat-expansion-panel>
</mat-accordion>
