<p>
  Will be splitted to: {{ count }} Ad Set(s)
</p>

<uni-form-ng (formGroupEvent)="handleSplitForm($event)" (submitEvent)="onSplitSubmit($event)">
  <mat-card [style]="{'margin-top': '10px'}">
    <mat-card-subtitle>Select at least one option:</mat-card-subtitle>

    <mat-card-content>
      <p>Age: {{ ages[0] }} - {{ ages[1] }}</p>

      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/age.json'" [init]="{}"></uni-form-field-ng>

      <mat-chip-set *ngIf="splitAges.length > 0" aria-label="Split Ages">
        Will split ages to:
        <mat-chip *ngFor="let range of splitAges">
          {{ range[0] }} - {{ range[1] }}
        </mat-chip>
      </mat-chip-set>

      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/gender.json'" [init]="{}"></uni-form-field-ng>

      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/countries.json'" [multiple]='true'></uni-form-field-ng>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/usa.json'"></uni-form-field-ng>
<!--      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/canada.json'" [multiple]='true'></uni-form-field-ng>-->
    </mat-card-content>
  </mat-card>

<!--  <mat-accordion>-->
<!--    <mat-expansion-panel>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>By Locations</mat-panel-title>-->

<!--        <mat-panel-description>-->
<!--          Selected {{ usa.length + canada.length }} location(s)-->
<!--        </mat-panel-description>-->
<!--      </mat-expansion-panel-header>-->

<!--      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/usa.json'" [init]="{}"></uni-form-field-ng>-->
<!--      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/canada.json'" [init]="{}"></uni-form-field-ng>-->
<!--    </mat-expansion-panel>-->
<!--  </mat-accordion>-->

  <mat-card [style]="{'margin-top': '10px'}">
    <mat-card-subtitle>Publish and/or Turn on after Split:</mat-card-subtitle>

    <mat-card-content>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/publish.json'" [init]="{}"></uni-form-field-ng>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/split/turn.json'" [init]="{}"></uni-form-field-ng>
    </mat-card-content>
  </mat-card>

  <p>
    <button type='submit' mat-raised-button color="primary">
      Split Audience
    </button>
  </p>
</uni-form-ng>
