<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-default></app-static-checkbox-default>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-disabled></app-static-checkbox-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-required></app-static-checkbox-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-value></app-static-checkbox-value>
  </mat-expansion-panel>
</mat-accordion>
