<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-default></app-static-checkbox-default>

    <app-code
      [templateUrl]='"assets/files/static/checkbox/default.txt"'
      [jsonUrls]='["assets/mocks/static/checkbox/default.json", "assets/mocks/static/checkbox/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-disabled></app-static-checkbox-disabled>

    <app-code
      [templateUrl]='"assets/files/static/checkbox/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/checkbox/disabled.json", "assets/mocks/static/checkbox/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-required></app-static-checkbox-required>

    <app-code
      [templateUrl]='"assets/files/static/checkbox/required.txt"'
      [jsonUrls]='["assets/mocks/static/checkbox/required.json", "assets/mocks/static/checkbox/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-checkbox-value></app-static-checkbox-value>

    <app-code
      [templateUrl]='"assets/files/static/checkbox/value.txt"'
      [jsonUrls]='["assets/mocks/static/checkbox/value.json", "assets/mocks/static/checkbox/default.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
