<uni-form-ng (formGroupEvent)="handleManageForm($event)" (submitEvent)="onManageSubmit($event)" class="uni-form-theme">
  <mat-card [style]="{'margin-top': '10px'}">
    <mat-card-subtitle>Select at least one option:</mat-card-subtitle>

    <mat-card-content>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/manage/gender.json'" [init]="{gender: 'any'}"></uni-form-field-ng>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/manage/turn.json'" [init]="{turn: false}"></uni-form-field-ng>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/manage/bids.json'" [init]="{bids: 'manual'}"
                      [style]="{display: 'block', 'max-width': '300px'}"
      ></uni-form-field-ng>
    </mat-card-content>
  </mat-card>

  <p>
    <button type='submit' mat-raised-button color="primary" [disabled]='!formManage.valid'>
      Manage Ad Sets
    </button>
  </p>
</uni-form-ng>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Remove Ad Sets</mat-panel-title>
    </mat-expansion-panel-header>

    <uni-form-ng (formGroupEvent)="handleRemoveForm($event)" (submitEvent)="onRemoveSubmit($event)" class="uni-form-theme">
      <uni-form-field-ng [url]="'assets/mocks/field/fb/manage/gender.json'"></uni-form-field-ng>

      <p>
        <button type='submit' mat-raised-button color="primary" [disabled]='!formRemove.valid'>
          Remove Ad Sets
        </button>
      </p>
    </uni-form-ng>
  </mat-expansion-panel>
</mat-accordion>
