<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/select/groups.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'select', key: 'create', label: 'Create grouped select', groups: [
    {name: 'Digits', options: [{label: 'One', value: 1}]}, {name: 'Letters', options: [{label: 'Aa', value: 'a'}]}
    ]}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>SUBMIT</button>
  </mat-action-row>
</uni-form-ng>

