<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/autocomplete/validation.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/autocomplete/default.json'"
    [options]="{key: 'set', label: 'Set autocomplete field custom error messages', required: true, errors: {
    required: 'Set custom required error message'
    }}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/autocomplete/validation.json'"
    [options]="{key: 'change', label: 'Change autocomplete field custom error messages', errors: {
    required: 'Changed custom required error message'
    }}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'autocomplete', key: 'create', label: 'Create autocomplete field with error messages', required: true, errors: {
    required: 'Create custom required error message'}, options: [{label: 'One', value: 'One'}, {label: 'Two', value: 'Two'}]}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>
      SUBMIT
    </button>
  </mat-action-row>
</uni-form-ng>

