<uni-form-ng (formGroupEvent)="handleAccessForm($event)" (submitEvent)="onAccessSubmit($event)">
  <p></p>

  <mat-card>
    <mat-card-subtitle [style]="{'margin-bottom': 0}">Connect your Facebook account:</mat-card-subtitle>

    <mat-card-content>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/access/login.json'" [value]="{access: 'code'}"></uni-form-field-ng>

      <a *ngIf="isCodeLinkVisible"
         href="mailto:contact@uiwebkit.com?subject=Special ID code request&amp;body=Hello, please send me special ID code. Thank you!">
        Send a request to get your special ID code
      </a>
    </mat-card-content>
  </mat-card>

  <p></p>

  <mat-card>
    <mat-card-subtitle [style]="{'margin-bottom': 0}">Choose the Task type:</mat-card-subtitle>

    <mat-card-content>
      <uni-form-field-ng [url]="'assets/mocks/field/fb/access/task.json'" [value]="{task: 'split'}"></uni-form-field-ng>
    </mat-card-content>
  </mat-card>

  <p></p>

  <button type='submit' mat-raised-button color="primary" [disabled]='!formAccess.valid'>Check Access</button>
</uni-form-ng>

