<mat-tab-group [selectedIndex]="1" mat-stretch-tabs>
  <mat-tab label="Test">
    <app-test></app-test>
  </mat-tab>

  <mat-tab label="Facebook">
    <mat-stepper [selectedIndex]="1" [orientation]="(stepperOrientation | async)!" #stepper>
      <mat-step label="Access" [completed]="false" errorMessage="Access is required.">
        <app-access></app-access>
      </mat-step>

      <mat-step label="Split" [completed]="false" errorMessage="Split is required.">
        <app-split></app-split>
      </mat-step>

      <mat-step label="Manage" [completed]="false">
        <app-manage></app-manage>
      </mat-step>

      <mat-step label="Analytics" [completed]="false">
      </mat-step>
    </mat-stepper>
  </mat-tab>
</mat-tab-group>

<!--<nav mat-tab-nav-bar mat-stretch-tabs [tabPanel]="tabPanel">-->
<!--  <a mat-tab-link (click)="activeLink = 'test'" [active]="activeLink == 'test'">Test</a>-->

<!--  <a mat-tab-link (click)="activeLink = 'access'" [active]="activeLink == 'access'">Access</a>-->
<!--</nav>-->

<!--<mat-tab-nav-panel #tabPanel>-->
<!--  <router-outlet></router-outlet>-->
<!--</mat-tab-nav-panel>-->
