<mat-tab-group [selectedIndex]="1" mat-stretch-tabs class='h-100v'>
  <mat-tab label="Getting started">
    <app-test></app-test>
  </mat-tab>

  <mat-tab label="Static fields demo">
    <app-static></app-static>
  </mat-tab>

  <mat-tab label="Dynamic fields demo">
    <app-dynamic></app-dynamic>
  </mat-tab>

  <mat-tab label="Custom forms demo">
    <app-custom></app-custom>
  </mat-tab>

<!--  <mat-tab label="Facebook">-->
<!--    <mat-stepper [selectedIndex]="1" [orientation]="(stepperOrientation | async)!" #stepper>-->
<!--      <mat-step label="Access" [completed]="false" errorMessage="Access is required.">-->
<!--        <app-access></app-access>-->
<!--      </mat-step>-->

<!--      <mat-step label="Split" [completed]="false" errorMessage="Split is required.">-->
<!--        <app-split></app-split>-->
<!--      </mat-step>-->

<!--      <mat-step label="Manage" [completed]="false">-->
<!--        <app-manage></app-manage>-->
<!--      </mat-step>-->

<!--      <mat-step label="Analytics" [completed]="false">-->
<!--      </mat-step>-->
<!--    </mat-stepper>-->
<!--  </mat-tab>-->
</mat-tab-group>
