<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/select/required.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/select/default.json'"
    [options]="{key: 'set', label: 'Set required select field', required: true}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/select/required.json'"
    [options]="{key: 'change', label: 'Changed required select field', required: false}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'select', key: 'create', label: 'Create required select field', required: true, options: [{label: ''}, {label: 'One', value: 1}]}"
  ></uni-form-field-ng>

  <mat-action-row>
    <button type='submit' mat-raised-button color='primary' [disabled]='!form?.valid'>
      SUBMIT
    </button>
  </mat-action-row>
</uni-form-ng>

