<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-default class='d-block w-250'></app-static-select-default>

    <app-code
      [templateUrl]='"assets/files/static/select/default.txt"'
      [jsonUrls]='["assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-disabled class='d-block w-250'></app-static-select-disabled>

    <app-code
      [templateUrl]='"assets/files/static/select/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/select/disabled.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-required class='d-block w-250'></app-static-select-required>

    <app-code
      [templateUrl]='"assets/files/static/select/required.txt"'
      [jsonUrls]='["assets/mocks/static/select/required.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With groups</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-groups class='d-block w-250'></app-static-select-groups>

    <app-code
      [templateUrl]='"assets/files/static/select/groups.txt"'
      [jsonUrls]='["assets/mocks/static/select/groups.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With multiselect</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-multi class='d-block w-250'></app-static-select-multi>

    <app-code
      [templateUrl]='"assets/files/static/select/multi.txt"'
      [jsonUrls]='["assets/mocks/static/select/multi.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With disabled option</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-option class='d-block w-250'></app-static-select-option>

    <app-code
      [templateUrl]='"assets/files/static/select/option.txt"'
      [jsonUrls]='["assets/mocks/static/select/option.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-value class='d-block w-250'></app-static-select-value>

    <app-code
      [templateUrl]='"assets/files/static/select/value.txt"'
      [jsonUrls]='["assets/mocks/static/select/value.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-placeholder class='d-block w-300'></app-static-select-placeholder>

    <app-code
      [templateUrl]='"assets/files/static/select/placeholder.txt"'
      [jsonUrls]='["assets/mocks/static/select/placeholder.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-hint class='d-block w-250'></app-static-select-hint>

    <app-code
      [templateUrl]='"assets/files/static/select/hint.txt"'
      [jsonUrls]='["assets/mocks/static/select/hint.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-validation class='d-block w-500'></app-static-select-validation>

    <app-code
      [templateUrl]='"assets/files/static/select/validation.txt"'
      [jsonUrls]='["assets/mocks/static/select/validation.json", "assets/mocks/static/select/default.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
