<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-default></app-static-select-default>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-disabled></app-static-select-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-required></app-static-select-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With groups</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-groups></app-static-select-groups>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With multiselect</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-multi></app-static-select-multi>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With disabled option</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-option></app-static-select-option>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-value></app-static-select-value>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-placeholder></app-static-select-placeholder>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-hint></app-static-select-hint>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-select-validation></app-static-select-validation>
  </mat-expansion-panel>
</mat-accordion>
