<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-checkbox-default></app-dynamic-checkbox-default>

    <app-code
      [templateUrl]='"assets/files/dynamic/checkbox/default.txt"'
      [jsonUrls]='["assets/mocks/dynamic/auth.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-checkbox-value></app-dynamic-checkbox-value>

    <app-code
      [templateUrl]='"assets/files/dynamic/checkbox/value.txt"'
      [jsonUrls]='["assets/mocks/dynamic/auth.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Remove nested fields on change</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-checkbox-clean></app-dynamic-checkbox-clean>

    <app-code
      [templateUrl]='"assets/files/dynamic/checkbox/clean.txt"'
      [jsonUrls]='["assets/mocks/dynamic/auth.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
