<uni-form-ng (formGroupEvent)='handleForm($event)' (submitEvent)='onFormSubmit($event)'>

  <uni-form-field-ng [url]="'assets/mocks/static/text/validation.json'"></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/default.json'"
    [options]="{key: 'set', label: 'Set text field custom error messages', required: true, minLength: 3, maxLength: 5, errors: {
    required: 'Set custom required error message', minLength: 'Minimum length is 3', maxLength: 'Maximum length is 5'
    }}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [url]="'assets/mocks/static/text/validation.json'"
    [options]="{key: 'change', label: 'Change text field custom error messages', errors: {
    required: 'Changed custom required error message', minLength: 'Minimum text length: 2', maxLength: 'Maximum text length: 3'
    }}"
  ></uni-form-field-ng>

  <uni-form-field-ng
    [options]="{type: 'text', key: 'create', label: 'Create text field with error messages', required: true, minLength: 3, maxLength: 8, errors: {
    required: 'Create custom required error message', minLength: 'Minimum length is 3', maxLength: 'Maximum length is 8'
    }}"
  ></uni-form-field-ng>

  <button type='submit' mat-button [disabled]='!form?.valid'>SUBMIT</button>
</uni-form-ng>

