<mat-accordion>
  <mat-expansion-panel [expanded]='true' #defaults>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>

      <mat-panel-description>
        <button mat-icon-button (click)='test($event)' [matTooltip]="codeTooltip" [hidden]='!defaults.expanded'>
          <mat-icon>code</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngIf='isCode'>
      123
    </ng-container>

    <app-static-text-default [hidden]='isCode'></app-static-text-default>
  </mat-expansion-panel>

  <mat-expansion-panel #disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>

      <mat-panel-description>
        <button mat-icon-button (click)='test($event)' [matTooltip]="codeTooltip" [hidden]='!disabled.expanded'>
          <mat-icon>code</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-static-text-disabled [hidden]='isCode'></app-static-text-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-required></app-static-text-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-placeholder></app-static-text-placeholder>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-value></app-static-text-value>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With minimum and maximum length</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-min-max></app-static-text-min-max>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-hint></app-static-text-hint>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error messages</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-validation></app-static-text-validation>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With pattern (regex) validation</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-pattern></app-static-text-pattern>
  </mat-expansion-panel>
</mat-accordion>
