<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-default></app-static-text-default>

    <app-code
      [templateUrl]='"assets/files/static/text/default.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-disabled></app-static-text-disabled>

    <app-code
      [templateUrl]='"assets/files/static/text/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/disabled.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-required></app-static-text-required>

    <app-code
      [templateUrl]='"assets/files/static/text/required.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/required.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With placeholder</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-placeholder></app-static-text-placeholder>

    <app-code
      [templateUrl]='"assets/files/static/text/placeholder.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/placeholder.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-value></app-static-text-value>

    <app-code
      [templateUrl]='"assets/files/static/text/value.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/value.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With minimum and maximum length</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-min-max></app-static-text-min-max>

    <app-code
      [templateUrl]='"assets/files/static/text/min-max.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/min-max.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom hint message</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-hint></app-static-text-hint>

    <app-code
      [templateUrl]='"assets/files/static/text/hint.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/hint.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom validation error messages</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-validation></app-static-text-validation>

    <app-code
      [templateUrl]='"assets/files/static/text/validation.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/validation.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With pattern (regex) validation</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-text-pattern></app-static-text-pattern>

    <app-code
      [templateUrl]='"assets/files/static/text/pattern.txt"'
      [jsonUrls]='["assets/mocks/static/text/default.json", "assets/mocks/static/text/pattern.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
