<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-default></app-static-slider-default>

    <app-code
      [templateUrl]='"assets/files/static/slider/default.txt"'
      [jsonUrls]='["assets/mocks/static/slider/default.json", "assets/mocks/static/slider/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-disabled></app-static-slider-disabled>

    <app-code
      [templateUrl]='"assets/files/static/slider/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/slider/disabled.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-required></app-static-slider-required>

    <app-code
      [templateUrl]='"assets/files/static/slider/required.txt"'
      [jsonUrls]='["assets/mocks/static/slider/required.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-value></app-static-slider-value>

    <app-code
      [templateUrl]='"assets/files/static/slider/value.txt"'
      [jsonUrls]='["assets/mocks/static/slider/value.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With range</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-range></app-static-slider-range>

    <app-code
      [templateUrl]='"assets/files/static/slider/range.txt"'
      [jsonUrls]='["assets/mocks/static/slider/range.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With tooltip</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-tooltip></app-static-slider-tooltip>

    <app-code
      [templateUrl]='"assets/files/static/slider/tooltip.txt"'
      [jsonUrls]='["assets/mocks/static/slider/tooltip.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With ticks</mat-panel-title>

      <app-code
        [templateUrl]='"assets/files/static/slider/.txt"'
        [jsonUrls]='["assets/mocks/static/slider/.json", "assets/mocks/static/slider/default.json"]'
      ></app-code>
    </mat-expansion-panel-header>

    <app-static-slider-ticks></app-static-slider-ticks>

    <app-code
      [templateUrl]='"assets/files/static/slider/ticks.txt"'
      [jsonUrls]='["assets/mocks/static/slider/ticks.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom minimum and maximum</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-min-max></app-static-slider-min-max>

    <app-code
      [templateUrl]='"assets/files/static/slider/min-max.txt"'
      [jsonUrls]='["assets/mocks/static/slider/min-max.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom step</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-step></app-static-slider-step>

    <app-code
      [templateUrl]='"assets/files/static/slider/step.txt"'
      [jsonUrls]='["assets/mocks/static/slider/step.json", "assets/mocks/static/slider/default.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
