<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-default></app-static-slider-default>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-disabled></app-static-slider-disabled>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-required></app-static-slider-required>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-value></app-static-slider-value>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With range</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-range></app-static-slider-range>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With tooltip</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-tooltip></app-static-slider-tooltip>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With ticks</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-ticks></app-static-slider-ticks>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom minimum and maximum</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-min-max></app-static-slider-min-max>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With custom step</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-slider-step></app-static-slider-step>
  </mat-expansion-panel>
</mat-accordion>
