/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import "@angular/material/prebuilt-themes/indigo-pink.css";

.app-background {
  background: #fafafa;
  margin: 0;
}

.d-block {
  display: block;
}

.mt-1 {
  margin-top: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.w-500 {
  width: 500px;
}

//@use "@angular/material" as mat;
//
//@include mat.core();
//
//$uni-primary: mat.define-palette(mat.$indigo-palette);
//$uni-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//$uni-warn: mat.define-palette(mat.$red-palette);
//
//$uni-theme: mat.define-light-theme(
//    (
//      color: (
//        primary: $uni-primary,
//        accent: $uni-accent,
//        warn: $uni-warn,
//      ),
//    )
//);
//
//@include mat.all-component-themes($uni-theme);
