/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import "@angular/material/prebuilt-themes/indigo-pink.css";

.app-background {
  background: #fafafa;
  margin: 0;
}

.d-block {
  display: block;
}

.mt-1 {
  margin-top: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.p-1 {
  padding: 1em;
}

.ps-2 {
  padding-left: 2em;
}

.w-500 {
  width: 500px;
}

.h-100v {
  height: 100vh;
}

.mat-mdc-tab-header {
  position: fixed!important;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

//@use "@angular/material" as mat;
//
//@include mat.core();
//
//$uni-primary: mat.define-palette(mat.$indigo-palette);
//$uni-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//$uni-warn: mat.define-palette(mat.$red-palette);
//
//$uni-theme: mat.define-light-theme(
//    (
//      color: (
//        primary: $uni-primary,
//        accent: $uni-accent,
//        warn: $uni-warn,
//      ),
//    )
//);
//
//@include mat.all-component-themes($uni-theme);
