/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "highlight.js/scss/github";


.app-background {
  background: #fafafa;
  margin: 0;
}

.d-block {
  display: block;
}

.mt-1 {
  margin-top: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.p-1 {
  padding: 1em;
}

.ps-2 {
  padding-left: 2em;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-500 {
  width: 500px;
}

.h-100v {
  height: 100vh;
}

.app-nav.mat-mdc-tab-header {
  position: fixed!important;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.uni-content {
  margin-top: 50px;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.uni-sidenav-container {
  /* Don't constrain the height of the sidenav container.
   This allows the `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

  a.active {
    background: #DDD;
  }
}

pre {
  display: flex;
  white-space: pre-wrap;
  word-break: break-word;
}

code, pre {
  margin: 0;
}
