<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-select-default class='d-block w-500'></app-dynamic-select-default>

    <app-code
      [templateUrl]='"assets/files/dynamic/select/default.txt"'
      [jsonUrls]='["assets/mocks/dynamic/countries.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With multiselect</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-select-multi class='d-block w-500'></app-dynamic-select-multi>

    <app-code
      [templateUrl]='"assets/files/dynamic/select/multi.txt"'
      [jsonUrls]='["assets/mocks/dynamic/countries.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-select-value class='d-block w-500'></app-dynamic-select-value>
    <app-code
      [templateUrl]='"assets/files/dynamic/select/value.txt"'
      [jsonUrls]='["assets/mocks/dynamic/countries.json"]'
    ></app-code>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default multiple values</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-select-value-multi class='d-block w-500'></app-dynamic-select-value-multi>

    <app-code
      [templateUrl]='"assets/files/dynamic/select/value-multi.txt"'
      [jsonUrls]='["assets/mocks/dynamic/countries.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Remove nested fields on change</mat-panel-title>
    </mat-expansion-panel-header>

    <app-dynamic-select-clean class='d-block w-500'></app-dynamic-select-clean>

    <app-code
      [templateUrl]='"assets/files/dynamic/select/clean.txt"'
      [jsonUrls]='["assets/mocks/dynamic/countries.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
