<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>Default</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-switch-default></app-static-switch-default>

    <app-code
      [templateUrl]='"assets/files/static/switch/default.txt"'
      [jsonUrls]='["assets/mocks/static/switch/default.json", "assets/mocks/static/switch/label.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-switch-disabled></app-static-switch-disabled>

    <app-code
      [templateUrl]='"assets/files/static/switch/disabled.txt"'
      [jsonUrls]='["assets/mocks/static/switch/disabled.json", "assets/mocks/static/switch/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Required*</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-switch-required></app-static-switch-required>

    <app-code
      [templateUrl]='"assets/files/static/switch/required.txt"'
      [jsonUrls]='["assets/mocks/static/switch/required.json", "assets/mocks/static/switch/default.json"]'
    ></app-code>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>With default value</mat-panel-title>
    </mat-expansion-panel-header>

    <app-static-switch-value></app-static-switch-value>

    <app-code
      [templateUrl]='"assets/files/static/switch/value.txt"'
      [jsonUrls]='["assets/mocks/static/switch/value.json", "assets/mocks/static/switch/default.json"]'
    ></app-code>
  </mat-expansion-panel>
</mat-accordion>
